$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'icons';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-fluid {
  padding: 0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.banner {
  background: url('/images/banner-background.png');
}

.callout-text > h1 {
  padding-left: 5%;
  padding-right: 5%;
}

/* Email subscribe css */

.email-subscribe {
  padding-bottom: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px; 
}

.email-input {
  padding-left: 30px;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  height: 3.3em;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  font-family: Lato, sans-serif;
  font-size: 18px; 
}

.subscribe-span {
  width: 40%;
}

.subscribe-button {
  width: 100%;
  background-color: #ffb139;
  height: 3.3em;
  border-color: #ffb139;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: 18px;
  font-family: Lato, sans-serif;
  color: #f3f3f3;
  letter-spacing: 2px;
  font-weight: bold;
}
.subscribe-button:hover {
  background-color: #ffb139;
  border-color: #ffb139;
  color: #f3f3f3;
}

/* End of email subscribe css */

/* Pillar box CSS */

.pillar-row {
  padding-top: 15px;
}
.icon {
  color: inherit;
  font-size: 20px;
}
.pillar-box-container {
  border-top: 1px solid #7c7c7c;
}

.pillar-box > h3 {
  color: inherit;
  font-size: 16px;
  font-family: Lato;
  line-height: 1.5;
}

.pillar-box {
  color: #7c7c7c;
}

.pillar-box:hover {
  color: #f3f3f3;
  border-bottom: 2px solid #ffb139;
}

.pillar-box-column {
  width: 23.3333%;
  float: left;
}

.pillar-box-column:first-of-type {
  margin-left: 15%;
}

.pillar-box-column:last-child {
  margin:0;
}

/* End of Pillar box CSS */

