// shared.scss
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

// Variables
$font-stack: Lato, sans-serif;

$colors:(
    primary: #ffb139,
    black: #2f2f2f,
    grey: #7c7c7c,
    white: #f3f3f3
);

// Header styles
h1 {
    font-family: $font-stack;
    line-height: 125%;
    font-weight: 700;
    font-size: 56px;
    color: map-get($colors, white);
}

h2 {
    font-family: $font-stack;
    line-height: 125%;
    font-weight: 700;
    font-size: 44px;
    color: map-get($colors, black);
}

h3 {
    font-family: $font-stack;
    line-height: 125%;
    font-weight: 400;
    font-size: 21px;
    color: map-get($colors, black);
}

h4 {
    font-family: $font-stack;
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: map-get($colors, grey);
}
