<div class='container-fluid pillar-box-container'>
  <div class='row pillar-row'>
    <div class='col-md-4 pillar-box-column'>
      <div class='pillar-box'>
        <div class="icon icon-feature1"></div>
        <h3>
          We're a culture of dreamers and doers who prove that the two aren't mutually exclusive.
        </h3>
      </div>
    </div>
    <div class='col-md-4 pillar-box-column'>
      <div class='pillar-box'>
        <div class="icon icon-feature2"></div>
        <h3>
          We're happiest when we're innovating, and fanatically dedicated to our craft.
        </h3>
      </div>
    </div>
    <div class='col-md-4 pillar-box-column'>
      <div class='pillar-box'>
        <div class="icon icon-feature3"></div>
        <h3>
          We create something new without abandoning the fundamental principles of good haircuts.
        </h3>
      </div>
    </div>
  </div>
</div>
