<link rel="stylesheet" href="styles/footer.css">
<footer>
  <div class="demo">
    <div class="logoright">
      <div class="logo"></div>
      <p class="copyright" >&copy; 2016 All Rights Reserved</p>
    </div>
    <div class="contact">
      <p class="contactTitle">CONTACTS</p>
      <p class="contactPara">
        204 S Blanche St<br/> Mounds, IL 62964-1104<br/> 202-555-0108
      </p>
    </div>
      <div class="studio">
      <p class="studioTitle">STUDIO</p>
      <p>
        The monkey-rope is found in all<br/> whalers; but it was only in the<br/> Pequod that the monkey.
      </p>
     </div>
    <div class="follow">
      <p class="followTitle">FOLLOW US</p>
      <img src="http://www.iconsdb.com/icons/preview/black/twitter-xxl.png" class="twitterLogo"/>
      <img src="http://www.iconsdb.com/icons/preview/black/facebook-xxl.png" class="facebookLogo"/>
      <img src="http://www.iconsdb.com/icons/preview/black/twitter-xxl.png" class="twitterLogo"/>
    </div>
  </div>
</footer>
