<link rel="stylesheet" href="styles/navbar.css">
<div ng-controller="NavbarCtrl" class="navbar-container-flex">
    <div class="flex-row flex-center navbar-desktop">
        <div class="navbar-left-flex flex-row flex-center" bshop-link-bar icon-container-class="nav-item-flex" include-home="false">
        </div>
        <div class="navbar-center-flex flex-row flex-center">
            <img src="/images/logo.png" />
        </div>
        <div class="navbar-right-flex flex-row flex-center" bshop-icon-bar icon-container-class="nav-item-flex"></div>
    </div>
    <div class="navbar-mobile">
        <div class="navbar-center-flex flex-row flex-center">
            <img src="/images/logo.png" />
        </div>
        <a class="circle" ng-click="slideDownNavbar()">
            <div>
                <span class="glyphicon"
                    ng-class="{'glyphicon-remove': navbarOpen, 'glyphicon-menu-hamburger': !navbarOpen}">
                </span>
            </div>
        </a>
        <div class="navbar-mobile-content flex-column">
            <div class="flex-row-mobile icon-bar-mobile" bshop-icon-bar icon-container-class="nav-item-flex"></div>
            <div class="flex-row-mobile">
                <div class="flex-column text-center" bshop-link-bar icon-container-class="nav-item-flex" include-home="true">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
