<link rel="stylesheet" href="styles/navbar.css">
<div class="navbar navbar-default navbar-transparent" role="navigation" ng-controller="NavbarCtrl">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#/">Barbershop</a>
	  </div>

	  <div class="collapse navbar-collapse" id="js-navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#/">TESTIMONIALS</a></li>
	      <li><a ng-href="#/about">LOCATION</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <!-- TODO: Replace icons with Facebook and Twitter respectively -->
	      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
	    </ul>
	  </div>
	</div>
</div>
