<div class='pillar-box'>
  <span class="icon-icon-feature1">
  <h3>
    We're a culture of dreamers and doers who <br/> prove that the two aren't mutually <br/>exclusive
  </h3>
</div>

<div class='pillar-box'>
  <span class="icon-icon-feature2">
  <h3>
    We're happiest when we're innovating, and <br/> fanatically dedicated <br/> to our craft.
  </h3>
</div>

<div class='pillar-box'>
  <span class="icon-icon-feature3">
  <h3>
    We create something new without <br/> abandoning the fundamental principles of <br/> good haircuts.
  </h3>
</div>